{% extends 'base.html.twig' %}
{% block content %}
  <h1>Oops</h1>

  <div class="alert alert-danger">
    <strong>Error!</strong> <span class="badge">403</span> Access Denied / Forbidden.
  </div>

{% endblock %}
