{% extends 'base.html.twig' %}
{% block content %}
    <h1>Oops</h1>
    <div class="alert alert-warning">
      <strong>Warning!</strong> <span class="badge">500</span> Internal Server Error.
    </div>
{% endblock %}
