{% extends 'base.html.twig' %}
{% block content %}
    <div class="well well-sm"><h1>abcArticles - A small web app.</h1></div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <p>This small web app with access control, is a project sample or a bootstrap Silex 1.3 application.</p>
        <p>Admin can add users and restricted or public articles.</p>
        <ul>
            <li>User: userx - passw:321</li>
            <li>Admin: root - passw:321</li>
        </ul>
    </div>
{% endblock %}
